        box-field {
            padding: Spx 15px 15px;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            background-color: #fff;
            bottom: 10px;
            margin-bottom: 10px;
            border-top: 0;
            border-right: 0;
            border-bottom: 0;
            border-Left: 3px;
            border-style: solid;
            border-color: #E26E29;
        }
        
        .btn-primary {
            color: #fff;
            background-color: rgb(119, 59, 42);
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 5px;
            box-shadow: 0 8px 6px -6px black;
            Letter-spacing: 2px;
            Left: 50%;
            top: 50%;
            margin-right: 15px;
        }