body {
    /* background: -webkit-linear-gradient(left, #3931af, #00c6ff); */
    background: url(images/homeSlider//186020.jpg);
    
 
    
}

.container .row{
    text-align: center;
    /* position: absolute; */
    
}

.container .login{
    /* background-color: #154677; */
    background: rgba(33, 85, 128, 0.705);
    padding-top: 20px;
}

body .container{

    margin-left: 200px;
    
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"]
{
  
    background-color: #ffffff;
    width: 300px;
    text-align: center;
    margin: auto;
}

label input[type="text"]
{
  
    background-color: #ffffff;
    width: 300px;
    text-align: center;
    margin: auto;
}

input[type="date"]{
    width: 215px;
    
}


.login .login-form{
    padding: 10%;
    margin-top: 10%;
}

.btnlogin {
    margin-top: 5%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0523b9;
    color: #fff;
    font-weight: 700;
    width: 30%;
    cursor: pointer;
    
}
.btnRegister {
    /* margin-top: 50%; */
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0523b9;
    color: #fff;
    font-weight: 700;
    width: 35%;
    cursor: pointer;
    margin:10px auto;   
}

.ndryshoFBtn{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0523b9;
    color: #fff;
    font-weight: 700;
    width: 35%;
    cursor: pointer;
    margin:10px auto; 
}

.kthehu{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0523b9;
    color: #fff;
    font-weight: 700;
    width: 35%;
    cursor: pointer;
    margin:10px auto;  
}

.btnlogin:hover ,
.btnRegister:hover{
    background-color: #081a74;
}

.login .nav-tabs{
    border: none;
    background: #0523b9;
    border-radius: 1.5rem;
    width: 28%;
    margin:30px auto;
}
.login .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-radius: 1.6rem;
}
.login .nav-tabs .nav-link:hover{
    border: none;
}
.login .nav-tabs .nav-link.active{
    width: 120px;
    color: #000000;
    border: 2px solid #2326dd;
    border-radius: 1.5rem;

}
.login-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -17%;
    color: #000000;
}

  .container .linku:hover {
    font-variant: small-caps;
    font-weight: bold;
  }

  
  span .errors{
      color: red;
  }


  .btn {
      background-color: #0523b9;
  }

  /* #btnReg1{
      background-color: #0523b9;
  } */